.card{
    list-style: none;
    display: flex;
    flex-direction: column;
}

.card__image{
  width: 100%;
  height: 151px;
  object-fit: cover;

}

.card__name{
    font-style: normal;
    font-weight: 500;
    font-size: 13px;
    line-height: 16px;
    color: #000000;
}

.card__description{
    display: flex;
    justify-content: space-between;
    padding-top: 14px;
    padding-bottom: 29px;
}

.card__duration{
font-style: normal;
font-weight: 400;
font-size: 11px;
line-height: 13px;
display: flex;
align-items: center;
color: #A0A0A0;
padding-top: 6px;
border-top: 1px solid #E8E8E8;;
}

.card__like{
    border: none;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: #F9F9F9;
    background-image: url(../../images/white-heart.svg);
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
}

.card__like:hover{
    opacity: 0.7;
}

.card__like_type_active{

    background-image: url(../../images/heart.svg);
}

.card__like_type_delete{

  background-image: url(../../images/card-cross.svg);
}

@media screen and (max-width: 1200px) {
  .card__image {
    height: 190px;
  }
}

@media screen and (max-width: 660px) {
  .card__image {
    height: 168px;
  }
}