.search-form{
    padding-top: 70px;
    padding-bottom: 69px;
    border-bottom: 1px solid #E8E8E8;
    margin: 0 auto;

}

.search-form__container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #F9F9F9;
    border-radius: 9px;
    padding: 19px 30px;

}

.search-form__form{
    display: flex;
    border-right: 1px solid #E8E8E8;
    padding-right: 30px;
    flex-grow: 1;
}

.search-form__input{
    width: 100%;
    border: none;
    outline:none;
    background-color: inherit;
    margin: 0 30px 0 16px;

}

.search-form__input::placeholder{
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 20px;
color: #A0A0A0;
}

.search-form__button{
    padding: 6px 29px;
    border: none;
    background-color: #000000;
    border-radius: 48px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    cursor: pointer;
}

.search-form__button:hover{
    opacity: 0.7;
}


@media screen and (max-width: 1023px) {
  .search-form{
    padding: 80px 0px;
    margin: 0 30px;
}

}


@media screen and (max-width: 660px) {

  .search-form{
    padding: 80px 0px 45px;
    margin: 0 10px;
}

  .search-form__container{
   flex-direction: column;
    gap: 46px;
    background: #ffffff;
    padding: 0;

}


.search-form__form{

  border-right: 1px solid transparent;
  background: #F9F9F9;
  padding: 25px 19px;
  border-radius: 9px;
}

.search-form__loupe{
  display: none;
}


}

