.filter {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 29px;
    gap: 14px;
  }
  
  .filter__text {
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 18px;
    color: #000000;
    
  }
  
  .filter__checkbox {
    width: 34px;
    height: 14px;
    border: none;
    outline: none;
    background-color: #EBEBEB;
    box-shadow: 0px 4px 4px rgba(50, 50, 71, 0.08), 0px 4px 8px rgba(50, 50, 71, 0.06);
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    appearance: none;
    transition: 0.3s ease;
  }

  .filter__checkbox:checked{
    background-color: #2BE080;
    transition: 0.3s ease;
  }
  
  .filter__checkbox::after {
    height: 10px;
    width: 10px;
    position: absolute;
    top: 2px;
    left: 2px;
    background-color: #ffffff;
    content: '';
    border-radius: 50%;
    transition: 0.3s ease;
  }
  
  .filter__checkbox:checked::after {
    height: 10px;
    width: 10px;
    position: absolute;
    top: 2px;
    right: 2px;
    background-color: #ffffff;
    content: '';
    border-radius: 50%;
    transition: 0.4s ease;
    transform: translate(20px);
  }
  